@use '../../styles/mixins.scss';

.wrap {
  background: var(--gray-10);
  width: max-content;
  display: flex;
  gap: 1px;
  padding: 4px;
  border-radius: var(--border-radius-10);
  &_full {
    width: 100%;
  }
  @include mixins.atMobile() {
    width: 100%;
    justify-content: space-around;
  }
}

.switch_btn {
  border: none;
  outline: none;
  cursor: pointer;
  background: inherit;
  @include mixins.atMobile() {
    flex: 1;
  }
  @include mixins.font(14px,17px,500);
  &_exsm {
    width: 69px;
    height: 31px;
  }
  &_sm {
    min-width: 92px;
    padding: 7px 0;
  }
  &_md {
    width: 110px;
    height: 34px;
  }
  &_full {
    width: 100%;
    height: 39px;
  }
  
  &_active {
    background: var(--white);
    box-shadow: var(--shadow-switch-btn);
    border-radius: var(--border-radius-10);
    color: var(--primary)
  }
}

