@use '../../styles/mixins.scss';

.button {
  position: relative;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  gap: 10px;
  min-height: inherit;
  border-radius: 999px;
  overflow: hidden;
  border: none;
  outline: none;
  //white-space: nowrap;
  @include mixins.font(15px,18.3px,500);
  cursor: pointer;
  box-shadow: var(--shadow-xs);

  &_variant {
    &_secondaryFilt {
      background: var(--gray-10);
      color: var(--gray-60);
      width: 140px;
      
      &:hover {
        background: var(--gray-30);
        color: var(--gray-80);
        stroke: var(--gray-80);
      }
    }
    &_primary {
      background: var(--primary-600);
      color: white;

      &:hover {
        color: white;
      }

      &:active {
        background: var(--primary-800);
        color: var(--primary-600);
      }

      &.disabled {
        //background-color: var(--primary-200);
        background-color: var(--gray-10);
        color: var(--gray-70);
        stroke: var(--gray-70);
      }

      &.loading {
        .loader {
          background-color: var(--primary-600);
        }
      }
    }

    &_secondary {
      background: var(--secondary-bg);
      //border: 1px solid var(--gray-300);
      color: var(--gray-70);
      stroke: var(--gray-70);

      &:hover {
        background: var(--gray-30);
        color: var(--gray-80);
        stroke: var(--gray-80);
      }

      &:active {
        //background: var(--gray-200);
        //color: var(--gray-900);
        //stroke: var(--gray-900);
        background: var(--gray-30);
        color: var(--gray-80);
        stroke: var(--gray-80);
      }

      &.disabled {
        border-color: var(--gray-200);
        color: var(--gray-300);
        stroke: var(--gray-300);
      }

      &.loading {
        .loader {
          background-color: white;
        }
      }
    }

    &_bell {
      background: var(--white);
      color: white;
      border-radius: var(--border-radius-10);
    }
  
    &_light {
      background: var(--white);
      color: var(--primary-600);
    }
  }

  &_width {
    &_full {
      width: 100%;
    }
    &_sm {
      width: 140px;
    }
  }

  &_size {
    &_exsm {
      width: 46px;
      height: 44px;
    }
    &_sm {
      height: 36px;
      padding: 0 14px;
    }

    &_md {
      height: 44px;
      padding: 13px 16px;
    }
  
    &_mds {
      height: 44px;
      padding: 13px 22px;
    }
  
    &_mdp {
    
    }
  
  
    &_lg {
      height: 44px;
      padding: 0 18px;
    }
  }

  &_icon_position {
    &_left {
      flex-direction: row;
    }

    &_right {
      flex-direction: row-reverse;
    }
  }

  * {
    pointer-events: none;
  }
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.loader {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  @include mixins.flex(row, center, center);
  opacity: 0;
  --transition-time: 0s;
}

.loading {
  cursor: default;

  .loader {
    opacity: 1;
    --transition-time: 0.3s;

    svg {
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
