:root {
  --primary: #1a85ff;
  --success: #53bb2e;
  --warning: #ff6b00;
  --error: #df4b41;

  --white: #ffffff;
  --gray-05: #f8f9fa;
  --gray-10: #f1f3f4;
  --gray-15: #ebedef;
  --gray-20: #e4e7e9;
  --gray-30: #d6dadf;
  --gray-40: #c9ced4;
  --gray-50: #bbc2c9;
  --gray-60: #9ea4ab;
  --gray-70: #81878d;
  --gray-80: #63696f;
  --gray-85: #555a60;
  --gray-90: #464c51;
  --gray-95: #383d42;
  --gray-100: #292e33;
}
