html {
  font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
  color: var(--gray-95);
  background: var(--gray-05);
  overflow-y: hidden;
}

:root {
  --transition-property: all;
  --transition-time: 0.3s;
  --transition-function: ease;
}

* {
  box-sizing: border-box;
  transition: var(--transition-property) var(--transition-time)
    var(--transition-function);
}

a {
  text-decoration: none;
}

div {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.custom_tooltip {
  box-shadow: var(--shadow-md);
  transition: none !important;
  z-index: 123123;
}

.recharts-tooltip-wrapper {
  outline: none;
}

.react-flow__node {
  cursor: default !important;
}
