@mixin flex(
  $flex-direction,
  $justify-content: unset,
  $align-items: unset,
  $flex-wrap: unset
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
}

@mixin font($size, $height, $weight: 400) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin atMobile() {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin atMobile() {
  @media (max-width: 992px) {
    @content;
  }
}
