@use '../../styles/mixins.scss';

.dropdownCaller {
  height: 44px;
  padding: 0 10px;
  @include mixins.flex(row, center, center);
  gap: 12px;
  background-color: var(--white);
  color: var(--gray-700);
  stroke: var(--gray-700);
  box-shadow: var(--shadow-xs);
  cursor: pointer;

  &:hover {
    background: var(--gray-50);
    color: var(--gray-800);
    stroke: var(--gray-800);
  }

  &.placeholder {
    color: var(--gray-500);
  }

  p {
    flex: 1;
  }

  [class*='Svg'] {
    pointer-events: none;
  }
}
