@use '../../styles/mixins.scss';

.customersTable {
  transition: none;

  td {
    padding: 0 12px;
  }
}

.cellContainer {
  @include mixins.flex(row, flex-start, center);

  gap: 16px;
}

.badges {
  position: relative;
  gap: 4px;
}

.channel {
  width: 24px;
  height: 24px;
  @include mixins.flex(row, center, center);
  background: var(--gray-50);
  border: 1px solid var(--gray-100);
  border-radius: 4px;
}
