@use '../../styles/mixins.scss';

.wrap {
  height: 100vh;
  pading-top: 79px;
  
  .imgwrap {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
    
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-width: 0;
      outline-width: 0;
    }
  }
}

.content {
  max-width: 1160px;
  height: 900px;
  margin-left: 280px;
  padding: 79px 20px 0 36px;
  @include mixins.atTablet() {
    margin-left: 70px;
  }
  @include mixins.atMobile() {
    margin-left: 0px;
    padding: 0 15px;
  }
  display: grid;
  grid-template: 1fr 1fr/ 1fr 1fr;
  gap: 16px 14px;
  
  .bold {
    @include mixins.font(16px, 19.5px, 700);
  }
  
  .bid {
    min-height: 91px;
    padding: 18px 0 17px 0;
    background-color: var(--white);
    border-radius: var(--border-radius-12);
    
    .bidInfo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--gray-10);
      padding: 18px 23px;
      
      .higestAmount {
        @include mixins.font(28px, 34px, 500);
      }
      
      .auctionEnds {
        .bidTitle {
          @include mixins.font(16px, 19.5px, 500);
          color: var(--gray-80);
        }
        
        .date {
          @include mixins.font(18px, 24.7px, 500);
          color: var(--gray-95);
          
          span {
            color: var(--gray-80);
            padding: 0 6px;
          }
        }
        
        text-align: right;
        
        .date {
        
        }
      }
    }
    
    .fractionsCalc {
      padding: 11px 19px 16px 23px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 18px;
      .amountInput {
        width: 20vw;
      }
      
      span {
        @include mixins.font(14px, 16.7px, 400);
        color: var(--gray-95);
        margin-bottom: 4px;
      }
      
      .clalculatedFract {
        width: 14vw;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 8px;
        border: 1px solid var(--gray-20);
        padding: 15px 16px 15px 21px;
        .fractAmount {
          @include mixins.font(16px, 19.5px, 500);
          color: var(--gray-95);
        }
      }
    }
  }
  .btnsGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 23px 0 23px;
    border-top: 1px solid var(--gray-10);
  }
  
  
  //.nftPrice {
  //  background: var(--white);
  //  border-radius: var(--border-radius-12);
  //  margin: 0 0 12px 0;
  //  overflow: hidden;
  //  .contentTitle {
  //    @include mixins.font(14px, 17px, 500);
  //    color: var(--gray-85);
  //  }
  //
  //  .priceTitle {
  //    @include mixins.font(14px, 17px, 500);
  //    color: var(--gray-80);
  //  }
  //
  //  .price {
  //    @include mixins.font(20px, 24.4px, 500);
  //    color: var(--gray-95);
  //  }
  //
  //  .nftPriceItems {
  //    display: flex;
  //    align-items: center;
  //    gap: 32px;
  //    padding: 24px 0 21px 23px;
  //  }
  //
  //  .btnsGroup {
  //    display: flex;
  //    align-items: center;
  //    justify-content: center;
  //    gap: 8px;
  //    padding: 12px 23px 22px 23px;
  //    border-top: 1px solid var(--gray-10);
  //  }
  //  .soldWrap {
  //    .progressLine {
  //      background-color:var(--gray-15);
  //      height: 7px;
  //      .progressWidth {
  //        height: 7px;
  //        width: 40%;
  //        background-color:var(--primary);
  //      }
  //    }
  //    .sold {
  //      display: flex;
  //      align-items: center;
  //      justify-content: space-between;
  //      margin: 0 23px;
  //      padding: 11px 0 12px 0;
  //      border-top: 1px solid var(--gray-10);
  //      .soldInfo {
  //        display: flex;
  //        align-items: center;
  //        gap: 10px;
  //        .soldText {
  //          @include mixins.font(16px, 19px, 400);
  //          color: var(--gray-80)
  //        }
  //        .soldAmount {
  //          @include mixins.font(16px, 19.5px, 500);
  //          color: var(--gray-95);
  //        }
  //      }
  //      .sales {
  //        @include mixins.font(16px, 19px, 400);
  //        color: var(--error);
  //        padding: 4px 8px 5px 7px;
  //        background: rgba(223, 75, 65, 0.05);
  //        border-radius: 7px;
  //        b {
  //          padding-right: 5px;
  //        }
  //      }
  //    }
  //  }
  //
  //}
  
}
