@use '../../styles/mixins.scss';

.main {
  position: relative;
  width: 100vw;
  min-width: 1366px;
  height: 100vh;
  overflow: hidden;
  @include mixins.flex(row);
}

.pageContainer {
  position: relative;
  width: 100%;
  margin-left: 200px;
  background-color: var(--gray-50);
}

.no_menu {
  margin-left: 0px;
}
