@use '../../styles/mixins.scss';

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include mixins.flex(row, center, center);
  z-index: 10;

  &.backdrop_enabled {
    backdrop-filter: blur(2px);
    background-color: rgba(238, 243, 248, 0.4);
    z-index: 10;
  }
  // This is for Flow component
  &.flow_backdrop_enabled {
    z-index: 10;
  }
}

.modal {
  width: min-content;
  height: min-content;
  max-height: 100vh;
  position: relative;
  background: var(--white);
  box-sizing: border-box;
  box-shadow: var(--shadow-xl);
  border-radius: var(--border-radius-10);
  overflow-y: auto;
}

.header {
  min-height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--gray-20);
}

.cross {
  @include mixins.flex(row, center, center);
  cursor: pointer;
}
