.searchTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 0 19px;
  .subTitle {
    @include mixins.font(14px,16.7px,400);
    padding-top: 2px;
    color: var(--gray-70);
  }
}
