@use '../../styles/mixins.scss';

.wrap {
  display: flex;
  align-items: center;
  //justify-content: space-between;
  position: fixed;
  max-width: 1440px;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding:10px 20px;
  z-index: 99;
  .btnsLg {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .bell {
    @include mixins.atTablet() {
      display: none;
    }
  }
  .input {
    padding-left: 280px;
    @include mixins.atTablet() {
      padding-left: 70px;
    }
  }
}

.btnsBlock {
  display: flex;
  margin-left: auto;
  gap: 9px;
  padding-left: clamp(15px, calc(10px + 2vw),200px);
}
