@use '../../styles/mixins.scss';

.avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  @include mixins.flex(row, center, center);
  border-radius: 50px;
  overflow: hidden;
  background: var(--primary-50);

  img {
    width: 100%;
    height: 100%;
  }
}
