@use '../../styles/mixins.scss';

.toggle {
  user-select: none;
  position: relative;

  input {
    display: none;
  }

  label {
    position: relative;
    overflow: hidden;
    @include mixins.flex(row);
    cursor: pointer;
    padding-right: 10px;
  }

  .rail {
    min-width: 86px;
    width: 86px;
    min-height: 44px;
    height: 44px;
    border-radius: 10px;
   
    background: var(--gray-00);
    margin-right: 13px;
    padding: 2px;
    position: relative;
  }

  .circle {
    width: 40px;
    height: 40px;
    background: var(--primary);
    border-radius: var(--border-radius-10);
    box-shadow: var(--shadow-sm);
  }

  &.checked .rail {
    background: var(--white);
    .circle {
      transform: translateX(40px);
      background: var(--primary-5);
    }
  }

  .icoBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    position: absolute;
    left: 10px;
    top: 9px;
    z-index: 99;
  }
  
  &:hover {
    //.rail {
    //  background: var(--white);
    //}

    //&.checked .rail {
    //  background: var(--white);
    //}
  }

  &.disabled label {
    cursor: not-allowed;

    .rail {
      background: var(--gray-100) !important;

      .circle {
        background: var(--gray-50);
      }
    }
  }
}
